<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Assigned Devices:</strong>
    <ul>
      <% employee.devices.each do |device| %>
        <li><%= link_to device.name, device %></li>
      <% end %>
    </ul>
  </p>

</div>
