<h1>Editing asset type</h1>

<%= render "form", asset_type: @asset_type %>

<br>

<div>
  <%= link_to "Show this asset type", @asset_type %> |
  <%= link_to "Back to asset types", asset_types_path %>
</div>
