<div id="<%= dom_id asset %>">
  <p>
    <strong>Name:</strong>
    <%= asset.name %>
  </p>

  <p>
    <strong>Asset type:</strong>
    <%= asset.asset_type_id %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= asset.manufacturer_id %>
  </p>

</div>
